body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #ba7453, #d1a984);
    /* background: rgb(52, 63, 77); */
    color: #fafafa;
}
/* background-color: rgb(56, 54, 79) */
/* background-color: rgb(52, 63, 77)*/
/* background-color: rgb(255, 255, 255); */
/* background-color: rgb(29, 35, 42); */
/* margin: 100px 0 40px; in h1 */

* {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

/* ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: #fafafa;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: linear-gradient(to left, #ba7453, #d1a984);
} */

html {
    scroll-snap-type: y mandatory;
}

.sectionBodyExp {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
}
.sectionBodyExp>.sectionExpDiv {
    width: 300px;
    height: 400px;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    background: var(--white);
    overflow: hidden;
}

.imgTag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: #fafafa;
    bottom: 100px;
}

/* Home Page CSS */
.sliderHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}

.sectionHome {
    display: flex;
    height: 100vh;
    justify-content: center;
    /* margin-top: 6%; */
    align-items: center;
}

.customHero {
    height: 100%;
    width: 100%;
    position: relative;
}

.customHero:after {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.customHero .imgHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
}